[submodule "vendor/zpaq"]
	path = vendor/zpaq
	url = https://github.com/modern-rzip/zpaq
[submodule "vendor/lz4"]
	path = vendor/lz4
	url = https://github.com/lz4/lz4
[submodule "vendor/fast-lzma2"]
	path = vendor/fast-lzma2
	url = https://github.com/conor42/fast-lzma2
[submodule "vendor/zstd"]
	path = vendor/zstd
	url = https://github.com/facebook/zstd
[submodule "vendor/bzip3"]
	path = vendor/bzip3
	url = https://github.com/kspalaiologos/bzip3
[submodule "vendor/ppmd_sh"]
	path = vendor/ppmd_sh
	url = https://github.com/modern-rzip/ppmd_sh
[submodule "vendor/tlsh"]
	path = vendor/tlsh
	url = https://github.com/modern-rzip/tlsh